/* Footer fix (white space when not enough content): */

html, body {
    height: 100%;
}
footer {
    position: sticky;
    top: 100vh;
}

/* Media Query Utility Class: Mobile First */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 320px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1536px;
  }
}